<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div>
      <div>Leave a review!</div>
      <%= form_for @review, url: product_reviews_path(@product) do |review| %>
        <%= review.label :rating %>
        <%= review.select :rating, [1, 2, 3, 4, 5] %><br>
        <%= review.label :description %><br>
        <%= review.text_area :description %><br>
        <%= review.submit %>
        <br><br>
      <% end %>
    </div>



  </article>
  <div>
    <% @product.reviews.reverse.each do |review| %>
      <%= render partial: 'review', locals: { review: review }%>
    <% end %>
  </div>


</section>
